<div id="content">
    <div id="cart-popup" class="cart-popup">
        <div class="headerCart">
            <h3 class="titleCart">Seu Carrinho <span>(0 Itens)</span></h3>
            <i class="fa-solid fa-xmark fa-xl"></i>
        </div>
        <div class="mainCart">
            <div class="cartEmpty">
                <p class="titleCartEmpty">Seu carrinho está vazio!</p>
                <i
                    class="fa-regular fa-face-frown fa-xl"
                    id="cartEmptyIcon"
                    style="color: #585858"
                ></i>
            </div>
            <ul id="cart-items-list" class="cartItens">
            </ul>
            <div class="finalizeOrder" id="finalizeOrder">
                <div class="subtotalContent">
                    <p>Subtotal:</p>
                    <p class="subtotal">R$ 0,00</p>
                </div>
                <div class="freteContent">
                    <p>Frete:</p>
                    <p class="frete">Grátis</p>
                </div>
                <div class="finalButtonContent">
                    <button class="finalButton">FINALIZAR PEDIDO</button>
                </div>
            </div>
        </div>
    </div>
    <div id="loading" class="loading" style="display: none;">
        <div class="loader"></div>
    </div>
    <div id="overlay" class="overlay" onclick="toggleCart()"></div>
    <script src="/src/js/index.js"></script>
</div>
