<div id="content">
    <div class="leftFooter">
        <ul>
            <li><a href="">Atendimento</a></li>
            <li><a href="">Trocas e Devoluções</a></li>
            <li><a href="">Informações de Envio</a></li>
            <li><a href="">Rastrear Pedido</a></li>
        </ul>
        <p>Copyright Togepi &copy; 2024</p>
    </div>
    <div class="centerFooter">
        <a href="#">
            <img src="assets/logo.png" alt="Logo Togepi" id="logoFooter"/>
        </a>
    </div>
    <div class="rightFooter">
        <ul>
            <li>
                <div class="whatsapp">
                    <a href="">
                        <i class="fa-brands fa-whatsapp fa-xl" style="color: #ffffff" ></i>
                        (45) 99845-4622
                    </a>
                </div>
            </li>
            <li>
                <div class="instagram">
                    <a href="https://www.instagram.com/vinisnzy/">
                        <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff"></i>
                        @togepi_street
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
