<div id="content">
    <div class="logo">
        <a href="/"><img src="assets/logo.png" alt="Logo" /></a>
    </div>
    <nav>
        <ul class="centerElements">
            <li><a href="/">Shop</a></li>
            <li><a href="/">Ofertas</a></li>
            <li><a href="/">Sobre</a></li>
            <li><a href="/">Contato</a></li>
        </ul>

        <ul class="rightElements">
            <li>
                <a href="">
                    <img src="assets/icons/user.png" alt="user" width="25px" height="25px"/>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="assets/icons/lupa.png" alt="search" width="30px" height="30px"/>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="assets/icons/carrinho.png" alt="user" width="27px" height="27px"/>
                </a>
            </li>
        </ul>
    </nav>
</div>
