.cart-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 500px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1001;
}

.cart-popup.active {
    right: 0;
}

.overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.overlay.active {
    display: block;
}


.headerCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px 20px 30px;
    display: flex;
}

.headerCart i {
    cursor: pointer;
}

.mainCart {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mainCart i {
    margin-top: 20px;
}

.titleCart {
    color: #3e3e3e;
    font-weight: 400;
    font-size: 12pt;
}

.titleCart span {
    color: black;
    font-size: 10pt;
}

.cartEmpty {
    text-align: center;
}